<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchhospital"> Launch New Hospital</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/hospitals"> View All Hospital</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/upcominghospitals"> Upcoming Hospitals </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/workshop">Workshop </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/bootcamp"> Bootcamp</a>  </td>
    
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>
