<div style="margin-left: 15%;width: 100%; height: 100%; margin-bottom: 20%; background-color: rgb(164, 224, 244);">
    <form (ngSubmit)="doFormSubmit()" #hospitalForm="ngForm">

        <div class="form-group">

            <label>Enter Hospital Id</label>
            <input type="number" [(ngModel)]="c.hospitalId" class="form-control" id="cid" name="cid" #hospitalId="ngModel"
                required pattern="[0-9][0-9][0-9]">
            <div *ngIf="hospitalId.invalid">
                <span style="color: red;" *ngIf="hospitalId.errors?.['required']">

                    Hospital Id is required Field
                </span>
                <span style="color: red;" *ngIf="hospitalId.errors?.['pattern']">
                    Hospital Id is not valid
                </span>
            </div>



        </div>


        <div class="form-group">
            <label>Hospital Name</label>
            <input type="text" #hospitalName="ngModel" pattern="[a-zA-Z]+" [(ngModel)]="c.hospitalName" class="form-control"
                id="cname" name="cname" placeholder="exp {like Tata, Ozone }" required>
            <div *ngIf="hospitalName.invalid">
                <span style="color: red;" *ngIf="hospitalName.errors?.['required']">

                    Hospital Name is required Field
                </span>
                <span style="color: red;" *ngIf="hospitalName.errors?.['pattern']">
                    Hospital Name is not valid
                </span>
            </div>
        </div>

        <div class="form-group">

            <label class="mr-sm-2">Hospital Speciality</label>
            <select [(ngModel)]="c.speciality" class="form-control form-control-lg" id="cSpeciality" name="cSpeciality">
                <option selected>Choose...</option>
                <option value="Dermatologist">Dermatologist</option>
                <option value="Cardiologist">Cardiologist</option>
                <option value="Oncologist">Oncologist</option>
                <option value="Orthopedist">Orthopedist</option>
            </select>

        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" [(ngModel)]="c.price" class="form-control" id="cprice" name="cprice"
                placeholder="In USD $">
        </div>
        <div class="form-group">
            <label>Discount</label>
            <input type="number" [(ngModel)]="c.discount" class="form-control" id="cdiscount" name="cdiscount"
                placeholder="In %">
        </div>

    
            <label>City</label>
            <input type="text" #city="ngModel" pattern="[a-zA-Z]+" [(ngModel)]="c.city" class="form-control"
                id="ccity" name="ccity" placeholder="exp {like Pune, Mumbai }" required>
            <div *ngIf="city.invalid">
                <span style="color: red;" *ngIf="city.errors?.['required']">

                    City is required Field
                </span>
                <span style="color: red;" *ngIf="city.errors?.['pattern']">
                    City is not valid
                </span>
            </div>

        <div class="form-group">
            <label>About</label>
            <textarea [(ngModel)]="c.about" class="form-control" id="about" name="about"
                rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input [(ngModel)]="c.image" type="text" class="form-control" id="image" name="image"
                placeholder="with extention exp *.JPG">
        </div>

        <button type="submit" class="btn btn-primary mb-2" [disabled]="hospitalForm.form.invalid">Submit</button>
    </form>

</div>